
Siete Y Medio.xcodeproj/project.pbxproj

Siete Y Medio.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Siete Y Medio.xcodeproj/project.xcworkspace/xcuserdata/etonhsu.xcuserdatad/UserInterfaceState.xcuserstate

Siete Y Medio.xcodeproj/xcuserdata/etonhsu.xcuserdatad/xcschemes/Siete Y Medio.xcscheme

Siete Y Medio.xcodeproj/xcuserdata/etonhsu.xcuserdatad/xcschemes/xcschememanagement.plist
